
<div class="wrapper clearfix no-padding">
  <div class="grid__item large--one-third cta_block ">
    <img src="https://cdn.shopify.com/s/files/1/1954/4515/files/ji-collection_cta.png?931905586336092992" />
    <h2>JI COLLECTION</h2>
    <p>Each season we honor a teacher whose wisdom has inspired us.</p>
    <a href="">SHOP</a>
  </div>
  <div class="grid__item large--one-third cta_block" >
    <img src="https://cdn.shopify.com/s/files/1/1954/4515/files/journal_cta.png?931905586336092992" />
    <h2>JOURNEY</h2>
    <p>Read about what inspires us, what motivates us to live our truth.</p>
    <a href="">GET INSPIRED</a>
  </div>
  <div class="grid__item large--one-third cta_block">
    <img src="https://cdn.shopify.com/s/files/1/1954/4515/files/give-back_cta.png?931905586336092992" />
    <h2>GIVE BACK</h2>
    <p>Be part of the movement towards a more compassionate and empowered world. </p>
    <a href="">LEARN MORE</a>
  </div>
</div>

<div class="wrapper instagram-feed">
  <h2 class="insta_title">FOLLOW US ON INSTAGRAM</h2>
  <div id="insta-feed"></div>
</div>