<div class="poem_container">
	<p>You who are seeking,<br>
	Whatever path you are on,<br>
	The journey starts now.</p>

	<span class="peach_txt">It begins with a breath…</span>

	<p>Close your eyes,<br>
	Unmind your mind.<br>
	Let your truth rise!</p>

	<p>Feel it. Shake it. Rock it.</p>
	
	<p>Move through this world<br>
	in freedom…</p>

	<span class="cred_txt">Lorin Roche, Ph.D<br>
	The Radiance Sutras</span>
</div>
<div class="seeker_txt">
	DESIGNED FOR THE SEEKER, THE SAGE, THE SOULJOUR IN US ALL. <br />
	WE REPRESENT THE COLLECTIVE JOURNEY TO FIND OUR ESSENCE,<br />
	REVEAL OUR TRUTH &amp; ACTIVATE OUR PURPOSE.
</div>