<section class="quote_container">
	<img src="https://cdn.shopify.com/s/files/1/1954/4515/files/tilak_v2_large_95fdc09e-55b9-4546-9e14-a9f5129df758.png?7252655610708940645" />
	<h2 class="seeker_quote">
		YOU WHO ARE SEEKING, <br>
		WHATEVER PATH YOU’RE ON.<br>
		THE JOURNEY STARTS NOW.<br>
		IT BEGINS WITH A BREATH.<br>
		CLOSE YOUR EYES,<br>
		UNMIND YOUR MIND,<br>
		LET YOUR TRUTH RISE! <br>
	</h2>
	<div class="quote">
		– Lorin Roche<br>
		The Radiance Sutras
	</div>
</section>