

<footer class="site-footer small--text-center" role="contentinfo">

    <div class="wrapper clearfix no-padding">
        <div class="grid__item large--one-third footer_block">          
          <h2 class="footer_title">VISION</h2>
          <p class="vision_block">Empower all souls to reveal their innate wisdom and eternal essence in order to thrive.</p>
        </div>
        <div class="grid__item large--one-third footer_block" >
          <h2 class="footer_title">CONNECT</h2>
         <p>Sign up for the latest updates <br>
			(and get free shipping on your first order!)</p>

		
		<form method="post" action="https://souljour.myshopify.com/contact#contact_form" id="contact_form" class="contact-form" accept-charset="UTF-8"><input type="hidden" value="customer" name="form_type" /><input type="hidden" name="utf8" value="✓" />
        <label for="Email" class="newsletter__label hidden-label">Sign up for the latest updates</label>
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="newsletter--form">
          <div class="input-group">
            <input type="email" value="" placeholder="Sign up for the latest updates" name="contact[email]" id="Email" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
            <span class="input-group-btn">
              <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                <span class="newsletter__submit-text--large">Subscribe</span>
                <span class="newsletter__submit-text--small">
                  <span class="icon icon-arrow-right" aria-hidden="true"></span>
                </span>
              </button>
            </span>
          </div>
        </div>
    	</form>
    	<ul class="social_list clearfix">
    		<li><a href="http://twitter.com"><img src="https://cdn.shopify.com/s/files/1/1954/4515/files/icon_twit.png?12483559427961815917" /></a></li>
    		<li><a href="http://facebook.com"><img src="https://cdn.shopify.com/s/files/1/1954/4515/files/icon_fb.png?12483559427961815917" /></a></li>
    		<li><a href="https://www.instagram.com/iamsouljour/"><img src="https://cdn.shopify.com/s/files/1/1954/4515/files/icon_insta.png?10971566342060987288" /></a></li>
    	</ul>
      <ul class="hashtags">
        <li>@iamsouljour</li>
        <li>#rockyourtruth</li>
        <li>#unmindyourbody</li>
      </ul>
        </div>
        <div class="grid__item large--one-third footer_block">
        	<ul id="footer_menu">
          {% for link in linklists.footer.links %}
             <li>{{ link.title | link_to: link.url }}</li>
          {% endfor %}
          </ul>
        </div>
      </div>

</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_link_list",
        "label": "Footer menu",
        "default": "footer"
      }
    ]
  }
{% endschema %}
