

<footer class="site-footer small--text-center" role="contentinfo">

    <div class="wrapper clearfix no-padding">
        <div class="grid__item large--one-third footer_block">          
          <h2 class="footer_title">MISSION</h2>
          <p class="vision_block">Empower all souls to reveal their innate wisdom and eternal essence in order to thrive.</p>
        </div>
        <div class="grid__item large--one-third footer_block" >
          <h2 class="footer_title">CONNECT</h2>
         <p>Sign up for the latest updates <br>
			(and get free shipping on your first order!)</p>

		
      <div id="mc_embed_signup">
        <form action="//iamsouljour.us16.list-manage.com/subscribe/post?u=8f52eba50a5b96c19858c0656&amp;id=8a52377dac" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <label for="Email" class="newsletter__label hidden-label">Sign up for the latest updates</label>
          <div class="newsletter--form">
            <div class="input-group">
              {% comment %}<input type="email" value="" placeholder="Sign up for the latest updates" name="contact[email]" id="Email" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">{% endcomment %}
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Sign up for the latest updates" required class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8f52eba50a5b96c19858c0656_8a52377dac" tabindex="-1" value=""></div>
              <span class="input-group-btn">
                <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                  <span class="newsletter__submit-text--large">Subscribe</span>
                  <span class="newsletter__submit-text--small">
                    <span class="icon icon-arrow-right" aria-hidden="true"></span>
                  </span>
                </button>
              </span>
            </div>
          </div>
        </form>
      </div>
    	<ul class="social_list clearfix">
    		<li><a href="http://twitter.com"><img src="https://cdn.shopify.com/s/files/1/1954/4515/files/icon_twit.png?12483559427961815917" /></a></li>
    		<li><a href="http://facebook.com"><img src="https://cdn.shopify.com/s/files/1/1954/4515/files/icon_fb.png?12483559427961815917" /></a></li>
    		<li><a href="https://www.instagram.com/iamsouljour/"><img src="https://cdn.shopify.com/s/files/1/1954/4515/files/icon_insta.png?10971566342060987288" /></a></li>
    	</ul>
       
       <p class="soul_block">Every soul has a journey.<br>What’s yours?</p>
       <h2 class="footer_title">LET US KNOW.</h2>
       <p class="soul_small"><strong>@iamsouljour<br>
       #rockyourtruth #souljour #unmindyourmind #hellyeah</strong></p>
        </div>
        <div class="grid__item large--one-third last_footer_block footer_block">
        	<ul id="footer_menu">
          {% for link in linklists.footer.links %}
             <li>{{ link.title | link_to: link.url }}</li>
          {% endfor %}
          </ul>
        </div>
      </div>

</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_link_list",
        "label": "Footer menu",
        "default": "footer"
      }
    ]
  }
{% endschema %}
