<!-- /templates/page.cus-service.liquid -->
<div class="grid">
  <div >

    <header class="section-header sj-page-header text-center">
      <h1>{{ page.title }}</h1>
      <img src="https://cdn.shopify.com/s/files/1/1954/4515/files/customer-service-souljour.jpg?8264874031275804456" />
    </header>

    <div class="grid">
      <div class="grid__item">
        <div class="about-content">
          {{ page.content }}
        </div>
      </div>
    </div>

  </div>
</div>