<!-- /templates/page.about.liquid -->
<div class="sub-hero">
  <img src="https://cdn.shopify.com/s/files/1/1954/4515/files/about-souljour.jpg?16232448447677816898" alt="Hero product" style="max-width:100%">
</div>

<div class="wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="about-content">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>