<!-- /templates/page.about.liquid -->
<div class="grid about-content">
  <div >

    <header class="section-header sj-page-header text-center">
      <h1>{{ page.title }}</h1>
      <img src="https://cdn.shopify.com/s/files/1/1954/4515/files/about-souljour.jpg?16232448447677816898" />
    </header>

    <div class="grid">
      <div class="grid__item">
        <div class="">
          {{ page.content }}
        </div>
      </div>
    </div>

  </div>
</div>
